@charset "UTF-8";


/* ボタンのスタイル */
.color-button {
	margin: 10px;
    padding: 15px;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.red { background-color: red; }
.orange { background-color: orange; color: black; }
.yellow { background-color: yellow; color: black; }
.green { background-color: green; }
.blue { background-color: blue; }
.white { background-color: white; color: black; border: 1px solid black; }


/* ボタン配置 */
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 350px; /* 3列分の幅を設定 */
    margin: 0 auto;   /* 中央揃え */
}
